@charset "utf-8";
/* CSS Document */

* {
    margin: 0;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 77px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;  
  height: 77px; /* Set the fixed height of the footer here */
  line-height: 77px; /* Vertically center the text there */
}
#wrapper-footer-brasil .logo-brasil-footer {width:140px !important;}
/* =Header -------------------------------------------------------------- */
#header .header-top {margin: 10px 0 5px;}
/*#header .container .header-top, .header-main {
	font-family: Open Sans;
}*/
#wrapper-barra-brasil, .container-br {
    max-width: 1140px !important;
}
#header .logo img {
	height: 120px;
	width: 95px;
}
#header .site-info {
	margin-bottom: 5px !important;
}
#header.smaller .site-info {
	margin-bottom: 10px;
}
#header.smaller .logo img {
	height: 50px;
	width: 39px;
	margin-top: 5px;
}
#header.smaller .header-main {
	margin-top: 5px;
}
#header.smaller h1.site-name {
	margin-top: 5px !important;
	font-size: 30px;
    font-weight: 700;
	/*color: #337ab7;*/
}
/* =Miscelaneous -------------------------------------------------------------- */
main#main /*.container-fluid, .modal-content*/  > * {
	font-size:0.9em !important;
}
.container-fluid h6 {
	font-size:0.9em !important;
}
.container-fluid h5 {
	font-size:1.0em !important;
}
.container-fluid h4 {
	font-size:1.1em !important;
}
.container-fluid h3 {
	font-size:1.2em !important;
}
.container-fluid h2 {
	font-size:1.3em !important;
}
.container-fluid h1 {
	font-size:1.4em !important;
}
textarea {
	resize:none;
}
.page-header {
    border-bottom: 1px solid #eee;
    margin: 10px 0;
    padding-bottom: 9px;
}
hr {margin: 10px;}
.modal-body {
	padding-top: 0px;
}
.DTFC_RightBodyLiner {
	overflow-y: hidden !important;
}
.form-padding-fix {padding:6px;}
.fade-enter-active, .fade-leave-active {transition: opacity .5s}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {opacity: 0}
.swal2-confirm {margin-right:50px;}
.swal2-cancel {margin-left:50px;}

.loader-min {
  border: 6px solid #f3f3f3; /* Light grey */
  border-top: 6px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

